.about-us-panel {
  .vision-panel, .mission-panel, .history-panel {
    background-color: #FAFAFA;
    box-shadow: 0 0 1px black;
    margin-bottom: 10px;
  }

  .vision-holder, .mission-holder, .history-holder {
    padding: 10px;
  }

  .vision-text-holder, .mission-text-holder, .history-text-holder {
    height: 200px;
    overflow-y: scroll;
    padding: 10px;
    box-shadow: 0 0 2px gray;
    margin: 10px;
  }

  .about-us-button {
    margin: 10px;
  }

  p {
    margin: 10px 0;
  }

  .md-helper-button {
    font-size: 12px;
    padding: 5px;
    margin: 10px 0 0 10px;
    background-color: lightgreen;
    box-shadow: 1px 0 2px gray;
  }
}
