@import '../../colors';

.volunteer-apply-form {
  text-align: center;

  input {
    width: 220px;
    font-size: 14px;
    padding: 8px 10px;
    border: 1px solid black;
    border-radius: 3px;
    text-align: left;
    font-style: italic;
    color: #2b2b2b;
    margin: 10px;
  }

  .button {
    background-color: $fixedHeaderButtonBgColor;
    color: $fixedHeaderButtonColor;
    border: 2px solid $fixedHeaderButtonBgColor;
    border-radius: 0;
    padding: 10px 40px;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    margin: 20px;
  }

  .button:hover {
    background-color: $fixedHeaderVolunteerBtnHoverBgColor;
    color: $fixedHeaderVolunteerBtnHoverColor;
    border-color: BLACK;
  }

  .error {
    background-color: #fefdba;
    color: #f42c04;
    display: none;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 0 1px gray;
  }

  .application-send-message {
    margin-top: 10px;
    display: none;
  }

  .application-send-message > span {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .show {
    display: inline-block;
  }
}
