@import '../../colors';

.volunteer-parallax {
  background-image: url("/static/img/DSC07720.JPG");
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  background-position-x: 50%;
  background-position-y: 195px;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lato';
  margin-bottom: 100px;
  transition: background-position-y .5s ease;

  .parallax-content {
    padding: 80px;
    color: black;

    h1 {
      font-size: 38px;
      border-bottom: 2px solid rgba(48, 46, 46, 0.5);
      display: inline-block;
      margin-bottom: 30px;
      text-shadow: 0 0 2px rgba(255, 255, 255, 1);
    }

    p {
      width: 40%;
      background-color: rgba(215, 215, 215, 0.8);
      padding: 5px;
    }

    .button {
      display: inline-block;
      padding: 15px;
      text-align: center;
      margin: 30px 0;
      text-transform: uppercase;
      background-color: $fixedHeaderButtonBgColor;
      border-radius: 0;
      color: $fixedHeaderButtonColor;
      font-size: 12px;
      width: 120px;
      transition: all 0.4s ease-in-out;
    }

    .button:hover {
      background-color: $fixedHeaderVolunteerBtnHoverBgColor;
      color: $fixedHeaderVolunteerBtnHoverColor;
    }
  }
}

@media screen and (min-width: 785px) and (max-width: 1040px) {
  .volunteer-parallax {
    .parallax-content {
      p {
        width: 60%;
      }
    }
  }
}

@media screen and (max-width: 784px) {
  .volunteer-parallax {
    .parallax-content {
      padding: 80px 40px;
      p {
        width: 80%;
      }
    }
  }
}

@media screen and (max-width: 643px) {
  .volunteer-parallax {
    .parallax-content {
      padding: 40px 20px;
      p {
        width: 80%;
      }
    }
  }
}


@media screen and (max-width: 420px) {
  .volunteer-parallax {
    .parallax-content {
      padding: 20px 20px;
      p {
        width: 100%;
      }
    }
  }
}
