.volunteer-parallax {
  background-image: url("/home/IMG1.jpg");
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  background-position-x: 50%;
  background-position-y: 195px;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lato';
  margin-bottom: 100px;
  transition: background-position-y .5s ease;

  .parallax-content {
    padding: 80px;
    color: white;

    h1 {
      font-size: 38px;
      border-bottom: 2px solid rgba(48, 46, 46, 0.5);
      display: inline-block;
      margin-bottom: 30px;
    }

    p {
      width: 40%;
    }

    .button {
      display: inline-block;
      padding: 15px;
      text-align: center;
      margin: 50px 0;
      text-transform: uppercase;
      background-color: black;
      border-radius: 0;
      color: #D6B014;
      font-size: 12px;
      width: 120px;
      transition: all 0.4s ease-in-out;
    }

    .button:hover {
      background-color: #ECC731;
      color: black;
    }
  }
}

@media screen and (min-width: 571px) and (max-width: 1040px) {
  .volunteer-parallax {
    .parallax-content {
      p {
        width: 60%;
      }
    }
  }
}

@media screen and (max-width: 570px) {
  .volunteer-parallax {
    .parallax-content {
      p {
        width: 80%;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .volunteer-parallax {
    .parallax-content {
      p {
        width: 90%;
      }
    }
  }
}
