.testimonials-list-panel {
  div:not(.modal):not(.status-panel) {
    display: block !important;
  }

  input {
    width: 100%;
  }

  textarea {
    width: 100%;
    height: 300px;
  }

  .status-panel {
    background-color: transparent;
    padding: 0;
    margin: 0;
  }

  .delete-testimonial-confirmation {
    text-align: center;
  }
}
