.team-members {
  font-family: 'Lato', sans-serif;

  > h1 {
    color: white;
    background-color: #5D5D5D;
    padding: 30px;
    font-size: 36px;
    font-weight: 700;
  }

  > .page-content {
    width: 90%;
    margin: 30px auto;
    border-top: 1px solid #f6f3f1;
  }

  .team-member-info {
    display: inline-block;
    width: calc(50% - 60px);
    margin: 0 20px 20px 20px;
    vertical-align: top;
    padding: 10px;

    > .img-holder {
      display: inline-block;
      width: 200px;
      height: 200px;
      margin-right: 20px;
      margin-top: 50px;
      vertical-align: top;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      box-shadow: 0 0 2px gray;
    }

    > .text-holder {
      display: inline-block;
      width: calc(100% - 220px);

      > .name > h2 {
        font-size: 24px;
        color: #878787;
      }

      > .designation {
        font-style: italic;
        font-size: 16px;
        color: #6b6864;
        margin: 5px 0;
      }

      > .rendered-markdown {
        height: auto;
        width: auto;
        overflow: initial;
        box-shadow: none;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .team-members {
    .team-member-info {
      margin: 0 10px 20px 10px;
      padding: 0;

      > .text-holder {
        text-align: left;
      }
    }

    > .page-content {
      width: 100%;
      text-align: center;
    }

  }
}

@media screen and (max-width: 1075px) {
  .team-members {
    .team-member-info {
      > .img-holder {
        height: 100px;
        width: 100px;
      }

      > .text-holder {
        display: inline-block;
        width: calc(100% - 120px);
      }
    }
  }
}

@media screen and (max-width: 880px) {
  .team-members {
    .team-member-info {
      display: block;
      text-align: center;
      width: auto;
      margin: 10px;
      padding: 0;
    }
  }
}
