* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

#app {
  width: 90%;
  margin: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #737070;
}

a:hover {
  cursor: pointer;
  color: #F7DB07;
}
