// Base

$black: #333333;

// Fixed Header

$fixedHeaderBgColor: #1D5470;

$fixedHeaderButtonBgColor: #163E52;

$fixedHeaderButtonColor: WHITE;

$fixedHeaderDonateBtnBorderColor: BLACK;

$fixedHeaderDonateBtnHoverBorderColor: #ECF0F1;

$fixedHeaderDonateBtnHoverBgColor: #1B4D66;

$fixedHeaderVolunteerBtnHoverBgColor: WHITE;

$fixedHeaderVolunteerBtnHoverColor: #163E52;

$fixedHeaderNavBarBgColor: #EFF2F3;

$fixedHeaderAnchorColor: #45403C;

$fixedHeaderSubLinkDropDownBgColor: #F0F3F4;

$fixedHeaderSubItemBorderBottomColor: #A6DEF9;

$fixedHeaderSubItemAnchorColor: #26211D;

$fixedHeaderHamburgerNavBgColor: #EFF2F3;

$fixedHeaderHamburgerNavNavBgColor: #EFF2F3;

$fixedHeaderHamburgerNavDropperLabelColor: #45403C;

$fixedHeaderSmallScreenDonateBgColor: #ECF0F1;

$fixedHeaderSmallScreenDonateHoverBgColor: #ECF0F1;

$fixedHeaderSmallScreenVolunteerBgColor: #ECF0F1;

$fixedHeaderSmallScreenVolunteerHoverBgColor: #ECF0F1;

$fixedHeaderHamburgerColor: #45403C;

// Floating Header

$floatingHeaderBgColor: #1D5470;

$floatingHeaderSocialButtonColor: BLACK;

$floatingHeaderSocialButtonBgColor: WHITE;

$floatingHeaderDonateBgColor: #ECF0F1;

$floatingHeaderVolunteerBgColor: #ECF0F1;

$floatingHeaderListItemAnchorColor: #BDC3C7;

$floatingHeaderListItemAnchorHoverColor: #EFF6E0;

$floatingHeaderSubLinkDropDownBgColor: #F0F3F4;

$floatingHeaderSubItemBorderBottomColor: #A6DEF9;

$floatingHeaderSubItemAnchorColor: #26211D;

$floatingHeaderSmallScreenDropDownNav: #F0F3F4;

$floatingHeaderSmallScreenSubLinkDropDownBgColor :#EDF1F2;

$floatingHeaderSmallScreenListItemColor :#45403C;


// contents, like vision and mission, history, etc
$contentBlockHeaderBgColor: #4A4238;

$contentBlockHeaderColor: #F4F6F7;


// footer

$footerBgColor: #31637D;
