.delete-pic-form {
  .message {
    width: 70%;
    margin: auto;
    text-align: center;

    span {
      vertical-align: top;
      padding: 10px;
      font-size: 20px;
      font-weight: bolder;
    }
  }

  img {
    height: 200px;
    width: 200px;
  }

  .action {
    text-align: center;
    padding: 5px;
    margin: 20px auto;
  }

  button {
    color: white;
  }

  .yes {
    background-color: #F42C04;
  }

  .no {
    background-color: #316E5C;
  }
}
