.activities {
  background-color: #F1F4ED;
  padding: 10px 0;

  .activity-list {
    width: 85%;
    margin: 40px auto;
  }

  h3 {
    font: normal normal normal 28px/1.4em 'Kelly Slab', fantasy;
  }

  h3 > span {
    padding: 5px 20px;
    background-color: #F7DB07;
  }

  h4 {
    font: normal normal normal 28px/1.4em 'Kelly Slab', fantasy;
    font-weight: bolder;
    text-align: center;
  }

  .activity {
    display: inline-block;
    margin: 0 20px;
  }

  a {
    color: black;
  }

  a:hover {
    color: #0F64A5;
  }

  img {
    width: 200px;
    height: 200px;
  }

}
