#admin-panel {
  .panel {
    margin-left: 20px;
    padding: 5px;
  }

  .image-holder {
    display: inline-block;
    padding: 5px;
    margin: 10px;
  }

  .center-pics img{
    height: 200px;
    width: 200px;
  }
}
