.login-form {
  height: 100%;
  padding: 10px;
  margin-top: 10%;
  background: linear-gradient(to bottom, white, gray);

  h3 {
    text-align: center;
    font-size: 40px;
    color: #0F64A5;
    font-family: Arial, Helvetica, sans-serif;
  }

  .auth-form {
    width: 500px;
    padding: 15px;
    margin: 10px auto;
    background-color: white;
    border-radius: 5px;
  }

  .input-wrapper {
    background-color: #E2F0F9;
    border-radius: 10px;
    padding: 5px;
    margin-top: 40px;
  }

  .heading {
    margin: 5px;
  }

  label {
    width: 150px;
    display: inline-block;
    margin: 10px 10px 10px 10px;
    padding: 5px;
    text-align: left;
    font-weight: 600;
  }

  input {
    height: 25px;
    margin-left: 0;
    width: 250px;
    border: 1px solid #BAD4E5;
    box-shadow: 0 0 5px blue;
    font-weight: bolder;
    font-size: 16px;
    padding: 2px 10px;
  }

  input:focus {
    outline: none;
    box-shadow: 0 0 5px blue, 0 0 2px #2184C7;
  }

  input::placeholder { /* Chrome/Opera/Safari */
    font-weight: 300;
  }

  .button-control {
    text-align: center;
  }

  button {
    margin: 0px 0px 0px 160px;
    padding: 7px 20px;
    background-color: #FBFBFB;
    color: $black;
    border-radius: 45px;
    box-shadow: 0 0 5px #3A3A3A;
    font-weight: bolder;
  }

  button:active {
    transform: translate(0px, 2px);
    box-shadow: 0 0 1px $black;
  }

  button::-moz-focus-inner {
    border: 0;
  }

  .last-row {
    margin: 30px 0 20px 0;
  }

  .last-row > div {
    display: inline-block;
  }

  .error-box {
    padding: 5px;
    background-color: lightblue;
    width: 240px;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
  }

  .error {
    color: #F42C04;
    font-size: 16px;
    font-weight: 600;
    font-size-adjust:0.5;
  }
}
