#admin-panel {
  font-family: "Ubuntu Mono";

  * {
    border-radius: 5px;
  }

  .nav-container {
    border-radius: 0;
  }

  h1 {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    color: $black;
  }

  h2 {
    font-weight: lighter;
    background-color: #F0F0F0;
    padding: 5px;
    box-shadow: 0 0 1px black;
  }

  .controller-holder {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }

  @import '../components/home-panel';
}
