@import '../colors';

.contact {
  font-family: 'Lato', sans-serif;

  > h1 {
    color: $contentBlockHeaderColor;
    background-color: $contentBlockHeaderBgColor;
    padding: 30px;
    font-size: 36px;
    font-weight: 700;
  }

  > .page-content {
    width: calc(95% - 42px);
    margin: 30px auto;
    padding: 10px 20px;
    border: 1px solid #cccccc;
  }

  .main-info-header {
    font-size: 25px;
    font-weight: 500;
  }

  .add-info-header {
    font-size: 18px;
    font-weight: 600;
  }

  .header, .additional-info {
    margin: 20px 10px;
  }
}
