.donation-box {
  background-color: #F1F4ED;
  padding: 10px 0;

  h3 {
    font: normal normal normal 28px/1.4em 'Kelly Slab', fantasy;
  }

  h3 > span {
    padding: 5px 20px;
    background-color: #F7DB07;
  }

  .heading {
    text-align: center;
    color: #316E5C;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .donation-form {
    width: 60%;
    margin: 0 auto;
    padding: 5px;
    box-shadow: 0 0 2px blue;
  }

  .field > div {
    display: inline-block;
    margin: 0 5px;
  }

  .field {
    margin: 5px;
    padding: 5px;
    text-align: center;
  }

  .label {
    width: 15%;
    font-size: 18px;
  }

  .input {
    width: 50%;
    background-color: yellow;

    input {
      height: 20px;
      width: calc(100% - 10px);
      font-size: 18px;
      padding: 5px 5px;
    }
  }

  .error-holder {
    position: relative;
    vertical-align: top;
  }

  .error {
    background-color: #FEFDBA;
    color: #F42C04;
    font-size: 16px;
    box-shadow: 0 0 2px gray;
    padding: 5px;
    display: inline-block;
    position: absolute;
    width: 200px;
    text-align: left;
  }

  .field > .button-holder {
    display: block;
    text-align: center;
  }

  .donate-button {
    background-color: #449D44;
    color: white;
    box-shadow: 0 1px 2px black;
    width: 100px;
  }

  .donate-button:active {
    box-shadow: inset 0 1px 2px black;
    transform: translate(0, -1px);
  }

  .show {
    visibility: visible;
  }

  .hide {
    visibility: hidden;
  }
}
