.header {
  background-color: #32302F;

  .quick-links-holder {
    margin-left: 55%;
    padding: 5px;
  }

  .social-button-holder {
    margin: 10px 20px;
  }

  .social-button-holder, .action-button-holder {
    display: inline-block;
    vertical-align: middle;
  }

  .button {
    background-color: black;
    border-radius: 0;
    color: #D6B014;
    font-size: 12px;
    padding: 15px 30px;
  }

  .button:nth-of-type(1) {
    border: 2px solid black;
    padding: 13px 28px;
    transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;
  }

  .button:nth-of-type(1):hover {
    border-color: #ECC731;
    background-color: #32302F;
  }

  .button:nth-of-type(2) {
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
  }

  .button:nth-of-type(2):hover {
    background-color: #ECC731;
    color: black;
  }

  .social-buttons {
    color: white;
    padding: 5px;
    margin: 5px;
  }

  .nav-bar {
    background-color: #ECC731;
    text-align: center;
  }

  a {
    color: #45403c;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
  }

  .list-item {
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
  }

  .nav-link {
    position: relative;
  }

  .sub-link-dropdown {
    position: absolute;
    top: 35px;
    z-index: 1;
    background-color: #EAC11A;
    width: 500%;
    text-align: left;
    display: none;
  }

  .list-item:hover .sub-link-dropdown {
    display: block;
  }

  .sub-link-nav-bar {
    padding: 5px;
  }

  .sub-link-nav-bar > li:last-child {
    border: none;
  }

  .sub-item {
    padding: 10px 10px;
    border-bottom: 1px solid #ecc731;

    > a {
      font-weight: 300;
      color: #26211d;
      display: inline-block;
      width: 100%;
      -webkit-transition: all 250ms ease-in;
    }

    > a:hover {
      font-weight: 700;
      padding-left: 3px;
    }
  }
}
