.header {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  .active {
    color: #F7DB07;
  }

  .logo > img {
    height: 60px;
    width: 100px;
  }

  /*
   font-family: Charcoal, Impact, sans-serif;
   font-size: 40px;
   font-weight: normal;
   line-height: 1.1em;
  */

  .top-portion, .bottom-portion {
    margin: 5px 0;
    padding: 0 5px;
    color: white;
    background-color: black;
  }

  .list-item {
    display: inline;
    font: $secondary-font;
    font-size: 15px;
    line-height: 1.4em;
    margin: 5px;
    padding: 0 10px;
  }

  .list-item:hover {
    color: #F7DB07;
  }

  .nav {
    padding-top: 50px;
  }
}
