.home {
  .carousal {
    position: relative;
  }

  .carousal.scrolled {
    margin-top: 120px;
  }

  .info {
    background-color: #F1F4ED;
    padding: 10px 0 10px 20px;

    .short-bio {
      width: 35%;
      font: $main-font;
    }

    .short-bio > h3 {
      background-color: #F7DB07;
      font-size: 30px;
      font-weight: normal;
      text-align: center;
    }

    .short-bio > .details {
      background-color: #161515;
      color: #F5F5F5;
      font: normal normal normal 13px/1.4em Arial,'ｍｓ ｐゴシック','ms pgothic','돋움',dotum,helvetica,sans-serif;
      font-size: 15px;
      font-weight: normal;
      padding: 10px 25px;
    }

    p {
      margin: 20px 0;
    }

    .more-links {
      vertical-align: top;
      width: 60%;
      margin-left: 40px;
    }

    .link {
      margin: 10px 10px;
      width: 30%;
    }

    .link-button{
      font: $secondary-font;
      background-color: #F7DB07;
      text-align: center;
    }

    .img-container {
      text-align: center;
    }

    .link-details {
      margin-top: 20px;
      margin-left: 10px;
    }
  }

  .info > div {
    display: inline-block;
  }

  .more-links > div {
    display: inline-block;
  }
}
