@import '../colors';

.vision {
  font-family: 'Lato', sans-serif;

  > h1 {
    color: $contentBlockHeaderColor;
    background-color: $contentBlockHeaderBgColor;
    padding: 30px;
    font-size: 36px;
    font-weight: 700;
  }

  > .page-content {
    width: calc(95% - 42px);
    margin: 30px auto;
    padding: 10px 20px;
    border: 1px solid #cccccc;
  }

  .section-content {
    padding: 10px;
  }

  h2 {
    font-weight: 300;
    font-size: 30px;
    color: $fixedHeaderBgColor;
  }

  p {
    margin: 20px 0;

    &:last-of-type {
      margin-bottom: 10px;
    }
  }
}
