@import '../colors';

.volunteer {
  font-family: 'Lato', sans-serif;

  > h1 {
    color: $contentBlockHeaderColor;
    background-color: $contentBlockHeaderBgColor;
    padding: 30px;
    font-size: 36px;
    font-weight: 700;
  }

  > .page-content {
    width: 85%;
    margin: 30px auto;
    padding: 10px 30px;
    border: 1px solid #cccccc;
  }

  .img-holder {
    text-align: center;
  }

  p {
    padding: 10px;
    margin: 10px;
  }

  @import "../components/volunteer/volunteer-form";
}
