@import '../../colors';

.footer {
  font-family: Lato;
  .links {
    padding: 80px 40px;
    background-color: $footerBgColor;
    display: flex;

    h6 {
      color: white;
      margin-bottom: 30px;
      font-size: 26px;
      font-weight: normal;
    }

    li {
      padding: 3px 0;
    }

    li > a {
      color: $floatingHeaderListItemAnchorColor;
      transition: color 0.4s ease;
    }

    li > a:hover {
      color: $floatingHeaderListItemAnchorHoverColor;
    }

    > div {
      flex: 1;
      margin-right: 10px;
      background-color: inherit;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .copyright-info {
    background-color: $fixedHeaderButtonBgColor;
    color: $floatingHeaderListItemAnchorColor;
    font-size: 15px;
    padding: 20px 0 20px 40px;
  }
}

@media screen and (max-width: 932px) {
  .footer {
    .links {
      display: inline-block;
      width: calc(100% - 80px);
    }

    .links h6 {
      margin-bottom: 10px;
    }

    .links > div {
      margin: 20px 0;
    }
  }
}
