.add-pic-form {
  .message {
    text-align: center;
    margin: auto;
  }

  .pic-adder-form {
    margin-top: 20px;
  }

  span {
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
  }

  .selection {
    text-align: center;
  }

  label {
    padding: 10px;
  }

  input {
    padding: 10px;
  }

  .button-holder {
    text-align: center;
  }

  .button-holder > div {
    display: inline-block;
  }

  .error {
    color: red;
    background-color: #F7EC74;
    margin: 10px 0;
    text-align: center;
    padding: 5px;
    font-weight: lighter;
  }
}
