.update-main-text-form {
  .message {
    margin: 10px 0;
    display: block;
  }

  textarea {
    display: block;
    height: 50px;
    width: 80%;
    margin: 10px auto;
  }

  .button-holder {
    text-align: center;
  }
}
