.update-caption-form {
  textarea {
    display: block;
    height: 50px;
    width: 80%;
    margin: 10px auto;
  }

  .message {
    margin: 10px 0;
    display: block;
  }

  .button-holder {
    text-align: center;
  }

  .error {
    color: red;
    background-color: #F7EC74;
    margin: 10px 0;
    text-align: center;
    padding: 5px;
    font-weight: lighter;
    display: block;
  }

  .cancel-button {
    background-color: green;
    color: white;
  }
}
