.fixed-header {
  background-color: #32302F;

  .logo-holder {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5%;
    padding: 15px 0;
  }

  .logo-holder > img {
    height: 50px;
    width: 80px;
    box-shadow: 0 0 2px white;
    border-radius: 5px;
  }

  .quick-links-holder {
    display: inline-block;
    padding: 5px;
    float: right;
    margin-top: 6px;
    margin-right: 25px;
  }

  .social-button-holder {
    margin: 10px 20px;
  }

  .social-button-holder, .action-button-holder {
    display: inline-block;
    vertical-align: middle;
  }

  .donate {
    margin-right: 5px;
  }

  .volunteer {
    margin-left: 5px;
  }

  .button {
    background-color: black;
    border-radius: 0;
    color: #D6B014;
    font-size: 12px;
    padding: 15px 30px;
  }

  .button:nth-of-type(1) {
    border: 2px solid black;
    padding: 13px 28px;
    transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;
  }

  .button:nth-of-type(1):hover {
    border-color: #ECC731;
    background-color: #32302F;
  }

  .button:nth-of-type(2) {
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
  }

  .button:nth-of-type(2):hover {
    background-color: #ECC731;
    color: black;
  }

  .social-button {
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
  }

  .fb:hover {
    background-color: #395C97;
    color: white;
  }

  .tw:hover {
    background-color: #00A4F1;
    color: white;
  }

  .li:hover {
    background-color: #007AB3;
    color: white;
  }

  .yt:hover {
    background-color: #C42814;
    color: white;
  }

  .nav-bar {
    background-color: #ECC731;
    text-align: center;
  }

  a {
    color: #45403c;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
  }

  .list-item {
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
    position: relative;
  }

  .sub-link-dropdown {
    position: absolute;
    top: 40px;
    z-index: 1;
    background-color: #EAC11A;
    width: 250px;
    text-align: left;
    display: none;
  }

  .list-item:hover .sub-link-dropdown {
    display: block;
  }

  .sub-link-nav-bar {
    padding: 5px;
  }

  .sub-link-nav-bar > .sub-item:last-child {
    border: none;
  }

  .sub-item {
    padding: 10px 10px;
    border-bottom: 1px solid #ecc731;

    > a {
      font-weight: 300;
      color: #26211d;
      display: inline-block;
      -webkit-transition: all 250ms ease-in;
    }

    > a:hover {
      font-weight: 700;
      padding-left: 3px;
    }
  }
}

.floater {
  display: inline;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
