@import '../../../colors';

.fixed-header {
  background-color: $fixedHeaderBgColor;

  .logo-holder {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5%;
    padding: 15px 0;
  }

  .logo-holder > img {
    height: 50px;
    width: 80px;
    box-shadow: 0 0 2px white;
    border-radius: 5px;
  }

  .quick-links-holder {
    display: inline-block;
    padding: 5px;
    float: right;
    margin-top: 6px;
    margin-right: 25px;
  }

  .social-button-holder {
    margin: 10px 20px;
  }

  .social-button-holder, .action-button-holder {
    display: inline-block;
    vertical-align: middle;
  }

  .donate {
    margin-right: 5px;
  }

  .volunteer {
    margin-left: 5px;
  }

  .button {
    background-color: $fixedHeaderButtonBgColor;
    border-radius: 0;
    color: $fixedHeaderButtonColor;
    font-size: 12px;
    padding: 15px 30px;
  }

  .donate {
    border: 2px solid $fixedHeaderButtonBgColor;
    padding: 13px 28px;
    transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;
  }

  .donate:hover {
    border-color: $fixedHeaderDonateBtnHoverBorderColor;
    background-color: $fixedHeaderDonateBtnHoverBgColor;
  }

  .volunteer {
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
  }

  .volunteer:hover {
    background-color: $fixedHeaderVolunteerBtnHoverBgColor;
    color: $fixedHeaderVolunteerBtnHoverColor;
  }

  .social-button {
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
  }

  .fb:hover {
    background-color: #395C97;
    color: white;
  }

  .tw:hover {
    background-color: #00A4F1;
    color: white;
  }

  .li:hover {
    background-color: #007AB3;
    color: white;
  }

  .yt:hover {
    background-color: #C42814;
    color: white;
  }

  .nav-bar {
    background-color: $fixedHeaderNavBarBgColor;
    text-align: center;
  }

  a {
    color: $fixedHeaderAnchorColor;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
  }

  .list-item {
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
    position: relative;
  }

  .sub-link-dropdown {
    position: absolute;
    top: 40px;
    z-index: 1;
    background-color: $fixedHeaderSubLinkDropDownBgColor;
    width: 250px;
    text-align: left;
    display: none;
  }

  .list-item:hover .sub-link-dropdown {
    display: block;
  }

  .sub-link-nav-bar {
    padding: 5px;
  }

  .sub-link-nav-bar > .sub-item:last-child {
    border: none;
  }

  .sub-item {
    padding: 10px 10px;
    border-bottom: 1px solid $fixedHeaderSubItemBorderBottomColor;

    > a {
      font-weight: 300;
      color: $fixedHeaderSubItemAnchorColor;
      display: inline-block;
      -webkit-transition: all 250ms ease-in;
    }

    > a:hover {
      font-weight: 700;
      padding-left: 3px;
    }
  }

  .hamburger-nav {
    display: none;
    text-align: right;
  }
}

.floater {
  display: inline;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (min-width: 320px) and (max-width: 464px) {
  .fixed-header {
    .logo-holder {
      display: block;
      margin: 0 0 10px 0;
      padding: 10px 0;
      text-align: center;
    }

    .quick-links-holder {
      display: block;
      float: none;
      margin: -15px 0;
      padding: 0;
    }

    .social-button-holder {
      margin: 0 0 15px 0;
      display: block;
      text-align: center;
    }

    .action-button-holder {
      display: block;
      text-align: center;
      margin-bottom: 35px;
    }

    .logo-holder > img {
      height: 75px;
      width: 150px;
    }

    .normal-nav {
      display: none;
    }

    .hamburger-nav {
      display: inline-block;
      width: calc(100% - 10px);
      padding: 5px;
      position: relative;
      background-color: $fixedHeaderHamburgerNavBgColor;

      .hamburger:hover {
        cursor: pointer;
      }

      .hamburger {
        display: inline-block;
        .line {
          width: 25px;
          height: 4px;
          border-bottom: 2px solid $fixedHeaderHamburgerColor;

          &:last-of-type {
            border-bottom: none;
          }
        }
      }
      .nav {
        display: none;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 25px;
        width: calc(100% - 10px);
        padding: 0 5px;
        height: 220px;
        overflow-y: scroll;
        background-color: $fixedHeaderHamburgerNavNavBgColor;
      }

      #drop-down {
        display: none;
      }

      #drop-down:checked + .nav {
        display: inline;
      }

      .list-item {
        display: block;
        width: 100%;
        padding: 0;
        margin: 10px 0;
        text-align: left;
      }

      .sub-link-dropdown {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
      }

      .list-item:hover .sub-link-dropdown {
        display: none;
      }

      .dropper-label {
        display: inline-block;
        width: 100%;
        color: $fixedHeaderHamburgerNavDropperLabelColor;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.6;
        font-family: 'Lato', sans-serif;
      }

      .dropper-label:hover {
        cursor: pointer;
      }

      .toggler {
        display: none;
      }

      .toggler:checked + .sub-link-dropdown {
        display: block;
      }
    }
  }
}

// small screen color
@media screen and (min-width: 463px) and (max-width: 650px) {
  .fixed-header {
    .quick-links-holder {
      padding: 0 5px;
      margin-top: 0;
    }

    .logo-holder {
      padding-top: 7px;
      padding-bottom: 0;
      margin-top: 3px;
    }

    .donate {
      background: url(../../../../static/img/donate.png) center center no-repeat $fixedHeaderSmallScreenDonateBgColor;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      width: 50px;
      padding: 25px 0;
      display: inline-block;
      vertical-align: bottom; // This removes extra whitespace in the bottom
      color: white;
      border: none;
    }

    .donate:hover {
      background-color: $fixedHeaderSmallScreenDonateHoverBgColor;
    }

    .volunteer {
      background: url(../../../../static/img/volunteer.png) center center no-repeat $fixedHeaderSmallScreenVolunteerBgColor;
      background-size: 30px;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      width: 50px;
      padding: 25px 0;
      display: inline-block;
      vertical-align: bottom; // This removes extra whitespace in the bottom
      color: white;
      border: none;
    }

    .volunteer:hover {
      background-color: $fixedHeaderSmallScreenVolunteerHoverBgColor;
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 680px) {
  .fixed-header {
    .sub-link-dropdown {
      max-width: 140%;
    }

    .about-us {
      max-width: none;
    }
  }
}

@media screen and (max-width: 599px) {
  .fixed-header {
    .sub-link-dropdown {
      max-width: 100%;
    }

    .about-us {
      max-width: none;
    }
  }
}
