.text-fields-holder {
  display: inline-block;
  width: 50%;
  padding: 0 10px;

  input {
    border-radius: 0;
    height: 20px;
    width: 70%;
    font-size: 16px;
    padding: 5px;
  }

  .field {
    padding: 5px 0;
  }

  h3 {
    padding: 5px 0;
  }
}
