.carousal {
  position: relative;
  width: 1050px;
  height: 590px;

  .inactive {
    animation-duration: 2s;
    animation-name: hide;
    opacity: 0;
  }

  .active {
    animation-duration: 2s;
    animation-name: show;
    opacity: 1;
  }

  img {
    position: absolute;
    /* width: 1050px; */
    width: 100%;
    height: 100%;
  }
}
