.home-panel {
  .captions-panel {
    background-color: #FAFAFA;
    box-shadow: 0 0 1px black;
    margin-bottom: 10px;
  }

  .center-pic-panel {
    background-color: #FAFAFA;
    box-shadow: 0 0 1px black;
    margin-bottom: 10px;
  }

  .center-pic-panel .button-holder {
    text-align: center;
  }

  .main-text-panel {
    background-color: #FAFAFA;
    box-shadow: 0 0 1px black;
    margin-bottom: 10px;
  }

  .caption-box-holder {
    display: inline-block;
    width: 25%;
    margin: 5px;
    padding: 5px;
  }

  .main-text-box-holder {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    background-color: #88A2AA;
    margin: 5px;
  }

  .update-button {
    background-color: #F7EC74;
  }

  .delete-button {
    background-color: #F42C04;
    color: white;
  }

  .add-pic-button {
    margin-left: 15px;
  }

  .main-text-holder {
    margin: 5px;
    padding: 5px;
    background-color: #FFE363;
    color: darkblue;
    box-shadow: 0 0 10px blue;
  }

  .caption-holder {
    font-size: 18px;
    background-color: lightgray;
    padding: 5px;
    box-shadow: 0 0 7px blue;
  }

  .pic-holder-wrapper {
    padding: 10px;
  }

  .pic-box-holder {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: #88A2AA;
  }

  img {
    height: 200px;
    width: 200px;
  }

  .captions-panel .button-holder {
    margin-top: 5px;
  }

  .caption-box-holder {
    background-color: #88A2AA;
    vertical-align: top;
  }

  @import 'home-panel/add-caption-form';
  @import 'home-panel/update-caption-form';
  @import 'home-panel/delete-caption-form';
  @import 'home-panel/add-pic-form';
  @import 'home-panel/update-pic-form';
  @import 'home-panel/delete-pic-form';
  @import 'home-panel/update-main-text-form';
}
