.brand-logo-panel {
  box-shadow: 0 0 1px black;
  margin-bottom: 10px;

  img {
    height: 60px;
    width: 100px;
    margin: 20px 0;
  }

  .current-logo, .new-logo {
    padding: 5px;
    margin: 5px;
  }

  .info {
    color: #F7EC74;
    background-color: black;
    border-radius: 4px;
    padding: 0 5px;
  }

  .message {
    width: 70%;
    margin: auto;
    text-align: center;
  }

  .message > span {
    vertical-align: top;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
  }

  .message > img {
    box-shadow: 0 0 1px black;
    margin: 0;
  }

  .label {
    margin-top: 10px;
  }

  button {
    margin: 10px 0;
  }
}
