.delete-caption-form {
  span {
    display: block;
  }

  .caption-text {
    padding: 5px;
    background-color: lightgray;
    min-height: 40px;
    margin: 10px 0;
  }

  .button-holder {
    text-align: center;
  }
}
