.project-add-panel {
  h2 {
    margin-bottom: 5px;
  }

  .form-holder {
    background-color: yellow;
    display: inline-block;
    width: 70%;
    padding: 1%;

    .field, .field-error {
      display: inline-block;
    }

    .field-error {
      background-color: red;
      visibility: hidden;
    }

    .show-field-error {
      visibility: visible;
    }
  }
}
