.project-list-panel {
  margin: 10px 0;

  .link-holder {
    text-align: center;
    margin-top: 10px;
  }

  .success-button {
    background-color: green;
    color: white;
    padding: 10px 10px;
    display: inline-block;
    box-shadow: 0 2px 5px black;
    font-size: 18px;
  }

  .success-button:hover {
    box-shadow: 0 0 5px blue, 0 2px 5px black;
  }

  .success-button:active {
    box-shadow: 0 -1px 1px black;
    transform: translate(0, 3px);
  }

  .list-project-wrapper {
    margin: 20px 0;
  }

  .project-list-container {
    font-size: 18px;
    margin: 20px 0;
  }

  li > div {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    margin: 5px;
    background-color: white;
  }

  img {
    height: 120px;
    width: 120px;
  }

  .name {
    width: 10%;
  }

  .description {
    width: 40%;
  }

  .img-holder {
    margin: 0 4%;
  }

  .name, .description {
    margin: 0 2%;
  }

  li {
    margin: 5px 0;
    box-shadow: 0 0 5px gray;
  }

  .button-holder {
    background-color: #00BCD4;
  }

  button {
    width: 60px;
    box-shadow: 0 1px 5px black;
  }

  button:hover {
    box-shadow: 0 1px 5px black, 0 1px 10px blue;
  }

  button:active {
    transform: translate(0, 1px);
    box-shadow: 0 -1px 5px black;
  }

  .edit-button {
    background-color: #F7EC74;
  }

  .delete-button {
    background-color: #F42C04;
    color: white;
  }
}
